hr {
        max-width: 50px;
        border-width: 3px;
        border-color: #E4FDE1;
    }

    hr.light {
        border-color: #fff;
    }

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../header.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    .btn {
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 300px;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    }

    .btn-xl {
        padding: 1rem 2rem;
    }

    .btn-primary {
        background-color: #456990;
        border-color: #456990;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        color: #fff;
        background-color: #F45B69 !important;
    }

    .btn-primary:active,
    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
    }
